{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    {{ form_start(form, {attr: {class: 'row'}}) }}
    <div class="col-sm-2">
        {{ form_widget(form.dateStart, {attr: {class: 'js-datepicker', placeholder: 'Start'}}) }}
    </div>
    <div class="col-sm-2">
        {{ form_widget(form.dateEnd, {attr: {class: 'js-datepicker', placeholder: 'End'}}) }}
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary" type="submit">Submit</button>
        <a class="btn btn-danger" href="{{ app.request.pathInfo }}">Clear</a>
    </div>
    {{ form_end(form, {render_rest: false}) }}

    <div class="mt-4">
        <h2>All orders</h2>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Symbol</th>
                <th>Buy Date</th>
                <th>Quantity</th>
                <th>Buy Price</th>
                <th>Sell Date</th>
                <th>Sell Price</th>
                <th>Total</th>
                <th>Profit</th>
                <th>Percent</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set returnUrl = app.request.requestUri %}
            {% set total = 0 %}
            {% set totalProfit = 0 %}
            {% set totalPercent = 0 %}
            {% set completedCount = 0 %}
            {% set daysInterval = 0 %}
            {# @var \App\Entity\Order order #}
            {% for order in orders %}
                {% set currentTotal = order.price * order.quantity %}
                {% set percent = order.sellPrice ? (order.profit / order.sellPrice / order.quantity * 100)|round(2) : null %}
                <tr class="{{ order.sold ? 'table-success' : 'table-danger' }}">
                    <td>{{ order.id }}</td>
                    <td>{{ order.symbol.name }} [{{ order.symbol.id }}]</td>
                    <td>{{ order.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.price }}</td>
                    <td>{{ order.sellDate ? order.sellDate|date('Y-m-d H:i') : null }}</td>
                    <td>{{ order.sellPrice }}</td>
                    <td>{{ currentTotal }}</td>
                    <td>{{ order.profit }}</td>
                    <td>{{ percent }}</td>
                    <td>
                        {% if order.sold %}
                            <a href="{{ path('admin_order_unsold', {id: order.id, returnUrl: returnUrl}) }}" class="btn btn-info" onclick="return confirm('Are u sure?');">Set unsold</a>
                        {% else %}
                            <a href="{{ path('admin_order_edit', {id: order.id, returnUrl: returnUrl}) }}" class="btn btn-success">Edit</a>
                            <a href="{{ path('admin_order_delete', {id: order.id, returnUrl: returnUrl}) }}" class="btn btn-danger" onclick="return confirm('Are u sure?');">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% set total = total + (order.sellDate ? currentTotal : 0) %}
                {% set totalProfit = totalProfit + order.profit %}
                {% set totalPercent = totalPercent + percent %}
                {% set completedCount = completedCount + (order.sellPrice ? 1 : 0) %}
                {% set daysInterval = daysInterval + (order.sellDate ? date(order.createdAt).diff(date(order.sellDate)).days : 0) %}
            {% endfor %}
            <tr>
                <td colspan="6" style="text-align: right">Total:</td>
                <td>{{ totalProfit ? (daysInterval / total * 100)|round(2) : 0 }} days avg</td>
                <td>{{ totalProfit ? (totalProfit / total * 100)|round(2) : 0 }}</td>
                <td>{{ totalProfit }}</td>
                <td>{{ totalProfit ? (totalPercent / completedCount)|round(2) : 0 }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mt-4 row">
        <div class="col-sm-6">
            <h2>Grouped symbols</h2>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Count</th>
                    <th>Sum</th>
                </tr>
                </thead>
                <tbody>
                {% for count in counts %}
                    <tr>
                        <td>{{ count.name }}</td>
                        <td>{{ count.count }}</td>
                        <td>{{ count.sum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
