{% extends 'layout.html.twig' %}
{# @var array items #}

{% block title %}Buff Buy Items{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Icon</th>
            <th>Steam Price</th>
            <th>Steam Price CNY</th>
            <th>Name</th>
            <th>Quick Price</th>
            <th>Buy Max Price</th>
            <th>Buy Num</th>
            <th>Sell Min Price</th>
            <th>Sell Num</th>
            <th>Steam Market URL</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td><img width="200" src="{{ item.goods_info.icon_url }}" alt=""></td>
                <td>{{ item.goods_info.steam_price }}</td>
                <td>{{ item.goods_info.steam_price_cny }}</td>
                <td>{{ item.market_hash_name }}</td>
                <td>{{ item.quick_price }}</td>
                <td>{{ item.buy_max_price }}</td>
                <td>{{ item.buy_num }}</td>
                <td>{{ item.sell_min_price }}</td>
                <td>{{ item.sell_num }}</td>
                <td><a href="{{ item.steam_market_url }}" target="_blank">URL</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
